/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 55px;
  z-index:500;
  background-color: #404040;
  box-shadow: 0px 0px 6px #888;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .text-muted {
  margin: 20px 0;
  color: #f5f5f5;
  font-size:11px;
  float:left;
}

.container .text-muted2 {
  margin: 0px 0;
  color: #f5f5f5;
  font-size:14px;
  float:left;
}

.container .powered {
  color: #f5f5f5;
  font-size:11px;
  float:left;
  margin-right:25px;
}

.footer .container i {
  margin: 12px 0;
  color: #fff; 
}

.img-footer {
  margin: 12px 0;
  width:60px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
