body
{
	/*margin-bottom:140px;*/
}

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: #00aeff;
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 30px;
	padding-top: 2px;
	border-radius:50%;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}

.transparent-box
{
	background:rgba(255, 255, 255, 0.95);
}

.table>tbody>tr>td
{
	border-top:none;
}

.box:hover
{
	background-color:#f5f5f5;
}

.header-menu-jukebox-privacy{
  padding-top: 15px;
  padding-bottom: 15px;
  /*background-color: #fff;*/
	background:rgba(255, 255, 255, 0.95);
  color:#00aeff;
  text-align:center;
	font-family: 'Lato', sans-serif;
  font-weight:700;
}

a:hover > .header-menu-jukebox-privacy
{
	/*background-color:#f8f8f8;*/
	/*background:rgba(255, 255, 255, 0.95);
	border-bottom:1px solid #00aeff;*/
	background-color:#f0ad4e;
	color:white;
}

.header-menu-jukebox{
  padding-top: 15px;
  padding-bottom: 15px;  
	background:rgba(255, 255, 255, 0.95);
  border: 1px solid #ddd;
  color:#00aeff;
  text-align:center;
  font-weight:700;
  font-family: 'Lato', sans-serif;
}


a:hover > .header-menu-jukebox 
{
	/*background-color:#f8f8f8;
	border-bottom-color:#00aeff;*/
	background-color:#f0ad4e;
	color:white;
}

.active-box
{
	background-color:#f0ad4e;
	color:white;
	/*border-bottom:1px solid #00aeff;*/
}

.header-content-jukebox{
  padding-top: 15px;
  padding-bottom: 15px;
  /*background-color: #fff;*/
	background:rgba(255, 255, 255, 0.95);
  /*Pborder: 1px solid #ddd;*/
}

.header-content-jukebox-admin{
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.header-content-jukebox>hr{
  margin-top:5px;
  margin-bottom:5px;
}

.row-song
{
	cursor:pointer
}

.row-song .icon-playlist
{
	color:#888;
	width:15%;
	font-size:18px;
}

.row-song:hover .icon-playlist
{
	color:#c40000;
	cursor:pointer;
}

.lyrics-screen
{
	display:none;
	background:rgba(108, 166, 205, 0.9);
	color:white;
	position:absolute;
	top:212px;
	height:100%;
	width:100%;
	z-index:100;
	padding:5px 80px 25px 80px;
	overflow-y:auto;
	margin-bottom:55px;
}

.song-content
{
	font-size:10px;
}

.header-content-jukebox > .most-played-list:first-child
{
	padding-top:0px;
}

.most-played-footer
{
	text-align:center;
	font-weight:700;
	color:#00aeff;
}

.how-footer
{
	margin:10px;
	color:#00aeff;
	font-weight:700;
}

.how-footer:hover
{
	cursor:pointer;
	text-decoration:none;
	color:#00aeff;
}

.how-footer-powered
{
	padding:8px;
	color:#00aeff;
	font-weight:700;
}

.sidebar-sidebar
{
	padding-right:0px;
	padding-left:0px;			
}

.sidebar-chat
{
	
	padding-right:0px;
	padding-left:0px;	
}

.center-bar
{
	padding-right:0px;
	padding-left:0px;
	width:560px;
}

.fixed-header
{
	position:fixed;
	width:560px;
	z-index:200;
}

.border-none-right
{
	border-right:none;
}

.chat-row
{
	padding:5px 0px 5px 0px;
	width:100%;	
}

.chat-row > .img-user
{
	padding:10px;
}
.chat-row > .img-user-admin
{
	padding:0px;
}

.chat-row > .chat-user
{
	padding:2px 10px 2px 2px;
	word-wrap:break-word;
	
	margin-bottom:10px;
}

.chat-row > .chat-user-admin
{
	padding:2px 10px 2px 2px;
	word-wrap:break-word;
	

}

.chat-row > .chat-user > .title 
{
	font-size:10px;
	color: #d5d5d5;
}

.chat-row > .chat-user-admin > .title 
{
	font-size:10px;
	color: #d5d5d5;
}

.chat-row > .chat-user > p 
{
	font-size:11px;
	color: #888;
}

.chat-row > .chat-user-admin > p 
{
	font-size:11px;
	color: #888;
}

.chat-row > .chat-user > p > small 
{
	font-size:8px;
	color: #d5d5d5;
}

.chat-row > .chat-user-admin > p > small 
{
	font-size:8px;
	color: #d5d5d5;
}

.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}

.playlist
{
	margin-bottom:0px;
}

.firstRank {
	border-width: 3px;
	border-style: solid;
	border-color: #ffc726;
}

.secondRank {
	border-width: 3px;
	border-style: solid;
	border-color: #dddddc;
}

.thirdRank {
	border-width: 3px;
	border-style: solid;
	border-color: #d98028;
}


.playlist > tbody > tr:first-child
{
	background-color:#3E5C76;
              
	color:white
}

.playlist > tbody > .buttonLayer
{
	background-color:#f5f5f5;	
	/*background: -webkit-linear-gradient(90deg, #360033 10%, #0b8793 90%); 
	background:    -moz-linear-gradient(90deg, #360033 10%, #0b8793 90%); 
	background:     -ms-linear-gradient(90deg, #360033 10%, #0b8793 90%); 
	background:      -o-linear-gradient(90deg, #360033 10%, #0b8793 90%); 
	background:         linear-gradient(90deg, #360033 10%, #0b8793 90%);*/
              
	color:white;
}

.playlist > tbody > tr:first-child > td > table > tbody > tr > .image-view-user
{
	width:38%;
	padding:10px 15px 15px 15px;
	vertical-align:top
}

.playlist > tbody > tr > td > table > tbody > tr > .image-view-user
{
	width:28%;
	padding:10px 15px 15px 15px;
	vertical-align:top
}

.playlist > tbody > tr > td > table > tbody > tr > .view-user-detail
{
	padding-right:15px
}

.playlist > tbody > tr:first-child > td > table > tbody > tr > .view-user-detail
{
	padding-right:15px
}

.playlist > tbody > tr > td > .table-playlist
{
	height:100%;
	width:100%;
}

.playlist > tbody > tr > td > table > tbody > tr > .view-user-detail > .table-playlist-detail
{
	width:100%;
	height:100%;
}

.playlist > tbody > tr > td > table > tbody > tr > .view-user-detail > .table-playlist-detail > tbody > tr > td  > .username-user
{
	font-size:12px;
	font-weight:700;
	text-transform: uppercase;
}

.playlist > tbody > tr:first-child > td > table > tbody > tr > .view-user-detail > .table-playlist-detail > tbody > tr > td  > .username-user
{
	font-size:16px;
	font-weight:700;
	text-transform: uppercase;
}

.playlist > tbody > tr > td > table > tbody > tr > .view-user-detail > .table-playlist-detail > tbody > tr > td  > span > .share-button
{
	font-size:12px;
	color:#888;
}

.playlist > tbody > tr:first-child > td > table > tbody > tr > .view-user-detail > .table-playlist-detail > tbody > tr > td  > span > .share-button
{
	font-size:14px;
	color:#f5f5f5;
}

.playlist > tbody > tr > td > table > tbody > tr > .view-user-detail > .table-playlist-detail > tbody > tr > .song-desc
{
	font-size:15px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.playlist > tbody > tr:first-child > td > table > tbody > tr > .view-user-detail > .table-playlist-detail > tbody > tr > .song-desc
{
	font-size:18px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.playlist > tbody > tr > td > table > tbody > tr > .view-user-detail > .table-playlist-detail > tbody > tr > .source-desc
{
	padding-top:5px;
	font-size:11px;
	vertical-align:bottom;
}

.playlist > tbody > tr:first-child > td > table > tbody > tr > .view-user-detail > .table-playlist-detail > tbody > tr > .source-desc
{
	padding-top:5px;
	font-size:13px;
	vertical-align:bottom;
}

.playlist > tbody > tr > td > table > tbody > tr > .view-user-detail > .table-playlist-detail > tbody > tr > td > .soundcloud
{
	color:#ff7e00;
	vertical-align:top;
	font-size:33px;
}

.playlist > tbody > tr:first-child > td > table > tbody > tr > .view-user-detail > .table-playlist-detail > tbody > tr > td > .soundcloud
{
	color:#fff;
	vertical-align:top;
	font-size:43px;
}

.playlist > tbody > tr > td > table > tbody > tr > .view-user-detail > .table-playlist-detail > tbody > tr > td > .youtube
{
	color:#c90000;
	vertical-align:top;
	font-size:33px;
}

.playlist > tbody > tr:first-child > td > table > tbody > tr > .view-user-detail > .table-playlist-detail > tbody > tr > td > .youtube
{
	color:#fff;
	vertical-align:top;
	font-size:43px;
}

.playlist > tbody > tr > td > table > tbody > tr > .view-user-detail > .table-playlist-detail > tbody > tr > .button-box
{
	vertical-align:middle;
}

.playlist > tbody > tr:first-child > td > table > tbody > tr > .view-user-detail > .table-playlist-detail > tbody > tr > .button-box
{
	vertical-align:middle;
}

.playlist > tbody > tr > td > table > tbody > tr > .view-user-detail > .table-playlist-detail > tbody > tr > td > div > .button-right-skip-love
{
	
    font-size: 8px;
    
}

.playlist > tbody > tr:first-child > td > table > tbody > tr > .view-user-detail > .table-playlist-detail > tbody > tr > td > div > .button-right-skip-love
{
	
    font-size: 14px;
    
}

#search-icon:hover
{
	color:#fff;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

#livesearch
{
	color:#000;
}

/*Search
=====================================*/
.search-box{
  -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
          transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
	margin-top:16px;
  width: 26px;
  height: 26px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #00aeff;
	font-size:12px;
}

.search-box + label .search-icon {
  color: #fff;
}
.search-box:hover {
  color: #000;
  background: #fff;
  
}
.search-box:hover + label .search-icon {
  color: #00aeff;
}

.flagFocus {
	-webkit-transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
          transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 600px;
  border-radius: auto;
  background: #fff;
  color: #000;
	font-size:12px;
}

.search-box:focus {
  *-webkit-transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  *        transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  *border: none;
  *outline: none;
  *box-shadow: none;
  *padding-left: 15px;
  *cursor: text;
  *width: 700px;
  *border-radius: auto;
  *background: #fff;
  *color: #000;
	*font-size:12px;
}

.flagFocus + label .search-icon {
  color: #00aeff;
}
/*.search-box:focus + label .search-icon {
  color: #00aeff;
}
.search-box:not(:focus) {
  text-indent: -5000px;
}*/



#search-submit {
  position: relative;
  left: -5000px;
}

.search-icon {
  position: relative;
  left: -24px;
  color: white;
  cursor: pointer;
	color:#00aeff;
}

.buttonLayerTd
{
	width:25%;
	font-size:30px;
	text-align:center;
	padding:5px;
	color:#888;
}

.listTd
{
	border-top:1px solid #ddd;
}

.listImage
{
	width:25%;
	padding: 10px 15px 10px 15px;
	vertical-align:top;
}

.floatingBtn
{
	background-color:#00aeff;
	color:#fff;
}

.floatingBtn:hover
{
	background-color:#AFD2E9;
}

.button-share-row{
	color:#888;
	
}

.button-source-youtube-row{
	color:#888;
}

.button-source-soundcloud-row{
	color:#888;
}

.button-skip-row{
	color:#888;
}

.button-love-row{
	color:#888;
}

.button-share-row:hover{
	color:#EE7621;
	cursor:pointer;
}

.button-source-youtube-row:hover{
	color:#DC143C;
	cursor:pointer;
}

.button-source-soundcloud-row:hover{
	color:#ff7700;
	cursor:pointer;
}

.button-skip-row:hover{
	color:#00aeff;
	cursor:pointer;
}

.button-love-row:hover{
	color:#dc143c;
	cursor:pointer;
}

.button-delete-row:hover{	
	cursor:pointer;
}


